.user-menu {
  .p-button {
    min-width: auto;
    height: 38px;
    width: 38px;
  }
  .p-avatar-image {
    height: 36px;
    width: 36px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;

    img {
      height: 23px;
      width: 23px;
    }
  }
}
