@layer tailwind-base, primereact, tailwind-utilities;
@import 'primereact/resources/themes/saga-blue/theme.css' layer(primereact);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "components/headrSearch";
@import "components/userMenu";
@import "components/charts";
@import "components/panel";
@import "components/message";

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--surface-ground);
  font-family: Lato, sans-serif;
  line-height: normal;
  padding-top: 94px;
  position: relative;
}

header {
  background-color: #343e4d;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

h1, h2 {
  font-family: Mulish, sans-serif;
  font-weight: 800;
}

h1 {
  //color: var(--primary-color);
  //border-bottom: 2px solid rgba(255,255,255, 0.25);
  margin-bottom: 30px;
  padding-bottom: 16px;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 18px;
  position: relative;

  .label {
    margin-right: 20px;
  }

  .bg {
    background: repeating-linear-gradient(135deg,rgba(225, 225, 225, 0.5),rgba(225, 225, 225, 0.5) 1px,transparent 2px,transparent 3px);
    background-size: 4px 4px;
    content:'';
    height: 4px;
  }
}

section {
  margin-bottom: 50px;
}

button {
  line-height: normal;
}

.charts {
  margin: 0 -10px;
}

.page-content {
  background: var(--surface-card);
  border: var(--card-border);
  border-radius: 10px;
  margin-bottom: 1rem;

  h1 {
    padding-bottom: 0;
  }

  p {
    font-size: 16px;
  }
}

.card-wrap {
  .p-card {
    opacity: 0.75;
    margin-bottom: 31px;
    transition: all linear 0.3s;

    &-active {
      opacity: 1;
      background-color: #273549;
    }
  }

  .p-card-body {
    padding: 15px;

    .p-card-title {
      margin-bottom: 2px;
    }

    .p-card-subtitle {
      margin-bottom: 7px;
    }
  }
  .p-card-content {
    padding: 0;
  }
}

